@import url("https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

html,body,*{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    text-align: center;
    background-image: url("images/BRUH.jpg");
}
h1{
    font-size: 70px;
    font-family: "Sixtyfour Convergence", sans-serif;
    color: black;
    
}
#txt{
    font-size: 30px;
    font-family: "Silkscreen", sans-serif;
}
.top{
    background-color: rgba(248,209,56,255);
}
.line-text{
    font-size: 20px;
    font-family: "Silkscreen", sans-serif;
}
input{
    height: 25px;
    width: 300px;
    margin-bottom: 15px;
}
.container{
    display: flex;
    width: 100%;
    margin: 2rem auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.card{
    display: flex;
    margin: 3rem auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 24%;
    height: auto;
    background-color: red;
    border-radius: 10px;
    font-family: "Silkscreen", sans-serif;
}
.card-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 10rem;
    object-fit: cover;
    border-radius: 15px;
}
.ball{
    height: auto;
    width: 25px;
}
.getrid{
    background-color: white;
    transition: 0.5s;
}

.getrid:hover{
    transform: scale(1.15);
}




@keyframes scale{
    0%{
        transform: scale(1.25,1.25);
        
    }
    25%{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(0.5,0.5);
    }
    75%{
        transform: scale(1, 1);
    }
    100%{
        transform: scale(1.25, 1.25);
    }

}
.btn{
    transition: 0.5s;
    background-color: rgba(250,107,98,255);
}
.btn:hover{
    
    animation: scale 1s infinite linear;
    animation-delay: 0.15s;
    
}
.pokeball-animate{
    height: 25px;
    width: auto;
}
.throw{
    height: 25px;
    width: auto;
}






#Image-input{
    transition: 0.5s;
}
#Image-input:hover{
    transform: scale(1.1);
}
#Image-input:focus{
    background-color: rgba(248,209,56,255);
}
#name-input{
    transition: 0.5s;
}
#name-input:hover{
    transform: scale(1.1);
}
#name-input:focus{
    background-color: rgba(248,209,56,255);
}
#Color-input{
    transition: 0.5s;
}
#Color-input:hover{
    transform: scale(1.1);
}
#Color-input:focus{
    background-color: rgba(248,209,56,255);
}
#Desc-input{
    transition: 0.5s;
}
#Desc-input:hover{
    transform: scale(1.1);
}
#Desc-input:focus{
    background-color: rgba(248,209,56,255);
}




/* #213738
#f14848 */